# Ignore local environment configurations
.env

# Go binaries
backend/gateway
gateway

# Frontend build outputs
frontend/out/
frontend/.next/
frontend/node_modules/

# Backend static outputs
backend/out/

# Operating system files
.DS_Store
charts/aurallm/Chart.lock
